@import url("https://fonts.googleapis.com/css?family=Blinker:400,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    background-position: center;
    font-family: Blinker, sans-serif;
    color: white;
    height: 100%;
    background-color: black;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }


.heading{
    text-align: center;
}

.heading h1{
    
    margin-top: 2%;
    margin-bottom: 3%;
    font-family: 'Montserrat', sans-serif ;
    color: rgb(243, 166, 23) !important;
    text-shadow: -1px -1px rgb(226, 208, 175), 1.5px 2px hsla(0,0%,5%,0.5)
}


p {
    font-size: 1.5em;
    letter-spacing: 2px;
    text-align: justify;
}

@media screen and (max-width: 800px) {
  .heading h1{
    font-size: 30px;
  }
    p {
        font-size: 1em;
        padding-left: 15px;
        text-align: left;
    }
}