@import url("https://fonts.googleapis.com/css?family=Blinker:400,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');



 html,body {
   overflow-x: hidden;
  height: 100%;
  background: black;
  background-repeat:repeat !important;
  background-image: radial-gradient(circle, #6f369b, #523087, #372972, #1f215c, #081846);
  overflow-y: visible;
  background-image: -moz-linear-gradient(to right top, hsla(0, 37%, 7%, 0.5), rgb(5, 2, 2));
} 

p{
  text-align:center;
  width:100%;
  color:hsla(0,50%,50%,1);
  font-size:6em;
  text-shadow:1px 1px hsla(0,0%,5%,1),
          -1px -1px hsla(0,0%,5%,1);
  font-family: 'Poiret One', cursive;
  letter-spacing: 6px;
  text-align: center;
  position: relative;
  margin-top: 40vh;
}

.hero {
  position: relative;
  height: 200vh;
  overflow-wrap: normal;
  /* overflow-y: scroll; */
  font-family: "Montserrat", sans-serif;
}

.hero__title {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  z-index: 1;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 8px;
  height: 8px;
  border: solid 1px#fff;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 12s ease-in forwards infinite;
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #6b778d;
}
.cube:nth-child(2) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  left: 75vw;
  top: 10vh;
}
.cube:nth-child(4) {
  border: solid 1px#fff;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  left: 90vw;
  top: 170vh;
}
.cube:nth-child(5) {
  border: solid 1px#fff;
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}

.cube:nth-child(6) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  left: 30vw;
  top: 70vh;
}

.cube:nth-child(7) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  left: 5vw;
  top: 20vh;
}

.cube:nth-child(8) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  left: 70vw;
  top: 120vh;
}

.cube:nth-child(9) {
  border: solid 1px rgb(235, 223, 223);
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  left: 60vw;
  top: 250vh;
}

.cube:nth-child(10) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  left: 45vw;
  bottom: 50vh;
}

.cube:nth-child(11) {
  border: solid 1px rgb(235, 223, 223);
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  left: 50vw;
  top: 200vh;
}


.cube:nth-child(12) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  left: 60vw;
  bottom: 20vh;
}




@-webkit-keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


#timer div {
  background: linear-gradient(-45deg,  #e73ce7, #23a6d5, #2326d5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  width: 200px;
  height: 80px;
  border-radius: 5px;
  font-size: 35px;
  font-weight: 700;
  margin-top: 6%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5%;
  padding-top: 0.5%;
  box-shadow: 2px 4px 4px rgb(221, 236, 235);
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#timer div span {
  display: block;
  margin-top: 3px;
  padding-top: 2px;
  font-size: 15px;
  font-weight: 500;
  color: #080606 !important;
}

.heading{
  text-align: center;
  font-family: Wallpoet, sans-serif;
  text-transform: uppercase; 
  z-index: 10000;
}

.heading h1{
  font-size: 85px;
  background: linear-gradient(to right, #0d0f30 0%, #f18ad1 100%);
  text-shadow: -1px -1.5px rgb(228, 175, 77), 1.5px 2px hsla(0,0%,5%,0.5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  margin-bottom: 5%;
  margin-top: 5%;
}

.container {

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.row {
  position: relative;
  top: 50%;
  left: 4.5%;
}

.card {
  margin: 10px 10px 65px 50px;
  background-color: #0d0c0e!important;  
  
  width: 20rem;
  height: 20rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  padding-top: 12px;
  text-align: center;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 15px 15px rgba(158, 171, 187, 0.3);
}

.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(48, 36, 36, 0.1);
  content: "";
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}

.card-title {
  margin-top: -4rem;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align:center;
  font-family: 'Poiret One', cursive;
  color: #fff !important;
}


#card-img {
  height: 250px;
  width: 250px;
  margin-left: 2rem;
  margin-bottom: 0.01rem;
}

.btn {
  margin-bottom: 2rem;
  
  
}

.modal-img {
  width: 90%;
  height: 250px;
  padding-left: 5%;
  padding-bottom: 5%;
}

@media screen and (max-width: 800px) {
 

  .row{
    left: 0.4rem;
  }


  .card {
    margin: 10% auto;
  }

  .heading h1{
    font-size: 2rem;
  }
}
