@import url("https://fonts.googleapis.com/css?family=Blinker:400,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  background-image: black;
  font-family: Blinker, sans-serif !important;
  letter-spacing: 0.1rem;
  height: 100%;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.heading {
  margin-top: 5%;
  margin-left: 43%;
  color: white;
}

h1 {
  font-family: 'Montserrat', sans-serif ;
  color: rgb(243, 166, 23) !important;
  text-transform: uppercase;
  text-shadow: -1px -1px rgb(226, 208, 175), 1.5px 2px hsla(0,0%,5%,0.5);
 
  font-size: 50px !important;
  position: relative;
  margin: 40px 0;
  color: white;
}


@keyframes animate {
  0% {
    width: 100px;
  }
  50% {
    width: 200px;
  }
  100% {
    width: 100px;
  }
}

.container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  background: rgb(15, 14, 15);
  padding: 15px;
  border: 2px solid white;
}
.container img {
  width: 100%;
  display: block;
  transition: all 100ms ease-out;
}
.container img:hover {
  transform: scale(1.04);
}

@media screen and (max-width: 600px) {
  .heading {
    margin-left: 0.1rem;
    margin-top: 2rem;
    color: white;
    font-size: 5rem !important;
    text-align: center;
  }

  h1 {
    left: 0.5rem;
  }

  h1::before {
    left: 12rem;
  }
}
